<% include header %>
<div class = "container">
	<div class="row">
		<div class=".col-md-offset-6 paragraph" id="errorText">
			<h3> 404 Error </h3>
			<img id="filmstrip" src = "/filmstrip.jpg">
				<br>
			<p>Oops! Something went wrong here... </p>
			<p>Please try again!</p>
		</div>
	</div>
</div>
<% include footer %>