<% include header %>
<div class = "container">
	<div class="row">
		<div class=".col-md-offset-6 paragraph" id="errorText">
			<h3> 404 Error </h3>
			Oops! The page you were trying to reach doesn't exist or some other error occured. Please try again!
		</div>
	</div>
</div>
<% include footer %>