<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/script.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
    <!-- CHOSEN CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <!-- CHOSEN JS -->
    <script type="text/javascript" src="/chosen.jquery.min.js"></script>
   

</body>
</html>

</head>
<body>

<div class="page-header">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <nav>
  <ul class="pagination pull-right logButtons">
    <%if (currentUser) {%>
    <li><a href="/logout">Logout</a></li>
    <%} else {%>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <%}%>
  </ul>
</nav>
  <nav>
    <h1 class="pull-left">Film Festival Finder <small>for Filmmakers</small></h1>
</nav>
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav>
  <ul class="pagination pull-right">
      <li id="goBack"><a href='javascript:window.location = document.referrer;'><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
  <li><a href="/root">Home</a></li>
 	 <li><a href="/about">About</a></li>
    <%if (currentUser) {%>
    <li><a href="/favoriteList"><%=currentUser.name%>'s Favorites</a></li>
    <%} else {%>
    <li class="disabled"><a href="/favoriteList">Favorites</a></li>
    <%}%>
  </ul>
</nav>
</div>
</nav>
</div>
<br>


	
<div class="container-fluid">
		

		<% include alerts %>