body{
	background-color: #E3E4DA;
	font-family: raleway; 
	font-size: 16px;
}
.navbar{
	background-color: #B9B3AF;
}
.btn{
	background-color: #595359;
	border-color: #595359;
	opacity: .8;
	color: white;
}
.btn1{
	background-color: #757073 !important;
	border-color: #757073 !important;
	color: white !important;
}
h2, h3, h4{
	font-family: courier;
}
#addSpace{
	margin-top: 3%;
}
#moreSpace{
	margin-top: 10%;
	text-align: center;
	margin-right: 30%;
}
#favoriteHeader{
	text-align: center;
}
ul{
	list-style-type: none
}
.moreBtn{
	background-color: #B9B3AF;
	color: black;
	border-color: #B9B3AF
}
.logo{
	max-width: 20%;
}
.logo2{
	max-width: 20%;
}
#title2{
	font-size: 18px;
	color: black;
}
#info{
	line-height: 200%;
}
.list-group-item{
	height: 25%;
	margin-top: 8%;
	background-color: #89928F;
	border-radius: 10% !important;
}
.add{
	margin-left: 50%;
	float: right;
	font-size: 16px;
	margin-top: 2%;
	background-color: #B9B3AF;
	color: black;
	border-color: #B9B3AF
}
.name{
	font-family: courier;
	font-size: 20px;
}
.moreInfoBtn, .deleteFav{
	float: right;
	margin-top: 2%;
	font-size: 16px;
	background-color: #B9B3AF;
	color: black;
	border-color: #B9B3AF
}

.page-header{
	font-family: courier;
	font-size: 16px;
	background-color: black !important;
}
.logButtons{
	margin-left: 1%;}

.countryClass{
	margin-bottom: 15px;
}
.feeClass{
	margin-bottom: 15px 
}

.chosen-container-multi .chosen-choices, #datepicker, #datepicker2{
	margin-bottom: 15px !important;
	min-height: 34px !important;
	border-radius: 4px !important;
	display: block !important;
	width: 100% !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	color: #555 !important;
	background-color: #fff !important;
	background-image: none !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.glyphicon{
	font-size: 22px;
}
.glyph a{
color: black;
}

.paragraph{
	text-align: justify;
	font-family: raleway;
	font-size: 18px;
}
#p1{
	line-height: 5px;
}
#p2{
	line-height: 10px;
}
#p3{
	line-height: 20px;
}
#list{
	padding-top: 3%;
}
#carousel-example-generic2{
	top: 22%;
	right: 5%;
	position: absolute;
	width: 35%;
	margin-bottom: 50px;

}

#carousel-example-generic{
	top: 25%;
	left: 35%;
	position: absolute;
	width: 35%;
	margin-bottom: 50px;

}


.carousel-control.left {

	background-image: none;
}

.carousel-control.right {

	background-image: none;
}


.carousel-inner{
	position: relative;
}
#imageTest{
	margin: 0 auto;
	background-size: 100%;
	overflow: hidden;
}

div.transparentBox
{
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	width: 400px;
	height: 200px;
	background-color: #C6AE81;
	opacity:0.6;
	border-radius: 8%;
}
div.transparentBox p
{
	position: relative;
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	font-family: courier;
	font-weight: bold;
	color: #DBC497;
}

.span8 a {
	color: #1F0D12;
	text-decoration: none;
}